* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
}

.headings {
  display: block;
  width: 100%;
  padding: 0px 0px;
}

.headings img {
  display: block;
  width: 100%;
}

.heading-phone-menu {
  display: none;
}

.heading-sub-link {
  width: 100%;
  padding: 10px 80px;
  background-color: #f1f1f1;
}

.heading-sub-link ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading-sub-link ul li {
  width: 300px;
}

.heading-main {
  background-color: #ed017f;
  width: 100%;
}

.heading-main-link {
  width: 100%;
  height: 60px;
  background-color: #ed017f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.heading-main-link .home {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0px 20px;
  text-decoration: none;
}

.heading-main-link .link {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  font-size: 13px;
  text-decoration: none;
  color: #fff;
  text-align: left;
  transition: 0.5s ease-in-out;
}

.heading-main-link .link:hover {
  background-color: #fff;
  color: #ed017f;
}

.heading-main-link .links {
  height: 70%;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  background-color: #33b27b;
  text-decoration: none;
  color: #fff;
  margin: 0px 10px;
  border-radius: 4px;
  font-size: 12px;
}

.help-links {
  position: relative;
  transition: all 1s ease-in-out;
}

.help-dropdown {
  width: 200px;
  position: absolute;
  top: 60px;
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: left;
  z-index: 3;
  background-color: #fff;
}

.help-links:hover .help-dropdown {
  display: flex;
}

.help-dropdown a {
  justify-content: left;
  text-align: left;
  text-decoration: none;
  color: rgb(48, 46, 46);
  padding: 14px 14px;
}

.help-dropdown a:hover {
  color: #ed017f;
  background-color: #ed017f13;
}

.help-main {
  display: flex;
}

.heading-main-link .links:hover {
  background-color: #106e46;
}

.heading-main-link form {
  display: flex;
}

.heading-main-link form .heading-input {
  padding: 8px 12px;
  border: none;
  outline: none;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  width: 450px;
  margin: 0px;
  display: inline-block;
}

.heading-main-link form button {
  background-color: #fba100;
  padding: 8px 10px;
  border: none;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  vertical-align: middle;
  /* border-radius: 4px; */
  /* width: 8%; */
  margin: 0px;
}

.carts {
  background-color: #fff;
  color: rgb(48, 46, 46);
  padding: 4px 6px;
  border-radius: 4px;
  margin: 0px 12px;
}

.heading-main-link form button svg {
  vertical-align: middle;
}

.heading-sub-main {
  width: 100%;
  background-color: #94004f;
}

.heading-sub-main .main-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style: none;
}

.route {
  text-decoration: none;
  color: #fff;
  padding: 12px 12px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  transition: 0.5s ease-in-out;
}

.route:hover {
  background-color: #fff;
  color: rgb(49, 48, 48);
}

.one {
  position: relative;
}

.begin {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 16px 0px;
  background-color: #acabab;
}

.begin .sub-route {
  text-decoration: none;
  color: white;
  padding: 14px 12px;
  position: relative;
}

.all-cart-body {
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  z-index: 3;
  display: none;
  background-color: #fff;
  width: 98.8vw;
  height: 68vh;
  transition: display 8s;
}

/* .one:hover .begin {
} */

.one:hover .all-cart-body {
  display: block;
}

.begin .sub-route:hover {
  background-color: #fff;
  color: #8b054d;
}

.all-categories {
  width: calc(100vw - 265px);
  height: 67.8vh;
  background-color: #fff;
  z-index: 7;
  position: absolute;
  top: -16px;
  left: 250px;
  display: none;
  padding: 25px;
  overflow-y: auto;
  justify-content: space-between;
}

.cart-one {
  position: absolute;
  top: -16px;
  left: 250px;
}

.cart-two {
  position: absolute;
  top: -60px;
  left: 250px;
}

.cart-three {
  position: absolute;
  top: -104px;
  left: 250px;
}

.cart-four {
  position: absolute;
  top: -148px;
  left: 250px;
}

.cart-five {
  position: absolute;
  top: -191px;
  left: 250px;
}

.cart-six {
  position: absolute;
  top: -236px;
  left: 250px;
}

.cart-seven {
  position: absolute;
  top: -280px;
  left: 250px;
}

.cart-set {
  width: 100vw;
}

.route:hover .cart-set {
  display: flex;
}

.cart-main-one {
  position: absolute;
  top: 40px;
  left: -160px;
}

.cart-main-two {
  position: absolute;
  top: 40px;
  left: -390px;
}

.cart-main-three {
  position: absolute;
  top: 40px;
  left: -560px;
}

.cart-main-four {
  position: absolute;
  top: 40px;
  left: -662px;
}

.cart-main-five {
  position: absolute;
  top: 40px;
  left: -798px;
}

.cart-main-six {
  position: absolute;
  top: 40px;
  left: -958px;
}

.cart-main-seven {
  position: absolute;
  top: 40px;
  left: -1138px;
}

.cart-main-image img {
  width: 270px;
  height: 390px;
}

.cart-document {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.cart-body {
  width: 200px;
  padding-bottom: 42px;
  /* padding-right: 32px; */
}

.cart-body h4 {
  padding-bottom: 15px;
  text-decoration: none;
  color: #000;
}

/* .cart-image{
    padding-left: 200px;
} */

.cart-lin a {
  text-decoration: none;
  color: #000;
  display: block;
  font-size: 12px;
  font-weight: lighter;
  padding: 5px 0px;
}

.cart-lin a:hover {
  color: #8b054d;
}

.cart-image img {
  width: 200px;
  height: 350px;
}

.all-category:hover .all-categories {
  display: flex;
}

.konga-body {
  background-color: #eeebeb;
}

.banner {
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: space-between;
}

.container {
  padding: 0px 25px 25px 25px;
}

.mySlides {
  width: 100%;
  display: none;
}

.mySlides img {
  width: 100%;
  vertical-align: middle;
  border-radius: 8px;
  height: 400px;
}

.slideshow-container {
  width: 96%;
  position: relative;
  border-radius: 8px;
}

.slideshow-container:hover .prev,
.slideshow-container:hover .next {
  display: block;
}

.dot-main {
  position: absolute;
  top: 90%;
  left: 35%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin: -22px 15px 0px 15px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-weight: bold;
  border-radius: 50%;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  z-index: 10px;
  display: none;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.main-banner {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.sub-banner {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.side-banners {
  width: 48%;
  height: 190px;
}

.side-image {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.konga-offers {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}

.konga-offers div {
  background-color: #fff;
  padding: 0px 8px;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.158);
}

.konga-offers div img {
  width: 170px;
  padding: 10px;
}

.accessories-body {
  background-color: #fff;
  border-radius: 8px;
}

.accessories-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #cac8c8;
  padding: 15px;
}

.accessories-header h2 {
  margin-right: 70px;
}

.accessories-header a {
  text-decoration: none;
  color: #8b054d;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.03125rem;
}

.accessories-header a:hover {
  text-decoration: underline;
}

.accessories-content {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content-main {
  padding: 10px;
  width: 32.33%;
  height: 150px;
  margin-bottom: 15px;
  display: flex;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.041);
}

.content-main:hover {
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.226);
}

.content-main img {
  margin: 15px;
}

.content-main a {
  text-decoration: none;
  color: #5a5f66;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.deleted {
  font-size: 16px;
  font-weight: lighter;
}

.amount {
  padding: 10px 0px 0px 0px;
}

.content-one img {
  width: 80px;
  height: 100px;
}

.commission {
  font-weight: bold;
  font-size: 14px;
  color: #33b27b;
}

.content-two img {
  width: 100px;
}

.content-three img,
.content-five img {
  width: 120px;
  height: 100px;
}

.content-four img {
  width: 120px;
  height: 100px;
}

.content-six img {
  width: 100px;
  height: 100px;
}

.items-body {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}

.items-body div img {
  width: 200px;
  height: 200px;
}

.sub-content-one img {
  width: 100px;
  height: 100px;
}

.sub-content-one div p span {
  color: #fba100;
  fill: #fba100;
}

.sub-content-two img {
  width: 100px;
  height: 100px;
}

.sub-content-three img {
  width: 120px;
  height: 105px;
}

.sub-content-four img {
  width: 110px;
  height: 105px;
}

.sub-content-five img {
  width: 110px;
  height: 105px;
}

.sub-content-six img {
  width: 100px;
  height: 120px;
}

.konga-item-poster {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
}

.konga-item-poster img {
  width: 100%;
  border-radius: 8px;
}

.konga-product {
  background-color: #fff;
  border-radius: 8px;
  padding-bottom: 10px;
}

.product-header {
  color: #fff;
  height: 50px;
  background-color: #4a4a4a;
  background-image: url("../img/category_icons.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  border-radius: 8px 8px 0px 0px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.product-body {
  display: flex;
  overflow-x: auto;
  justify-content: space-between;
  padding: 10px;
}

.product-body div {
  /* width: 45%; */
  padding: 15px;
  margin: 8px 10px;
  position: relative;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.178);
}

.product-body div:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.178);
}

.product-body div img {
  width: 190px;
  height: 210px;
}

.product-body div a {
  text-decoration: none;
  color: #5a5f66;
}

.rate {
  z-index: 2;
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 12px;
  color: #fff;
  padding: 6px 8px;
  border-radius: 0px 20px 20px 0px;
  background-color: #ff3b3b;
}

.konga-deals {
  display: flex;
  justify-content: space-between;
}

.dealing {
  width: 290px;
  border-radius: 8px;
  background-color: #fff;
  text-align: left;
  padding-bottom: 10px;
}

.dealing img {
  width: 100%;
  border-radius: 8px 8px 0px 0px;
}

.dealing .deal-link {
  text-decoration: none;
  color: #5a5f66;
}

.dealing .deal-link h4 {
  margin: 20px 12px;
  height: 50px;
}

.dealing .deal-link p {
  font-size: 16px;
  margin: 20px 12px;
  height: 50px;
}

.deals-link {
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding: 20px 12px;
  text-decoration: none;
  color: #8b054d;
}

.sponsor-body {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 8px;
}

.sponsors .sponsor-body div {
  width: 16.6667%;
  padding: 30px 0px;
  height: 160px;
}

.sponsors .sponsor-body div:nth-child(1) {
  border-right: 1px solid rgb(192, 189, 189);
  border-bottom: 0.04rem solid rgb(192, 189, 189);
}

.sponsors .sponsor-body div:nth-child(2) {
  border-right: 1px solid rgb(192, 189, 189);
  border-bottom: 1px solid rgb(192, 189, 189);
}

.sponsors .sponsor-body div:nth-child(3) {
  border-right: 1px solid rgb(192, 189, 189);
  border-bottom: 1px solid rgb(192, 189, 189);
}

.sponsors .sponsor-body div:nth-child(4) {
  border-right: 1px solid rgb(192, 189, 189);
  border-bottom: 1px solid rgb(192, 189, 189);
}

.sponsors .sponsor-body div:nth-child(5) {
  border-right: 1px solid rgb(192, 189, 189);
  border-bottom: 1px solid rgb(192, 189, 189);
}

.sponsors .sponsor-body div:nth-child(6) {
  border-bottom: 1px solid rgb(192, 189, 189);
}

.sponsors .sponsor-body div:nth-child(7) {
  border-right: 1px solid rgb(192, 189, 189);
}

.sponsors .sponsor-body div:nth-child(8) {
  border-right: 1px solid rgb(192, 189, 189);
}

.sponsors .sponsor-body div:nth-child(9) {
  border-right: 1px solid rgb(192, 189, 189);
}

.sponsors .sponsor-body div:nth-child(10) {
  border-right: 1px solid rgb(192, 189, 189);
}

.sponsors .sponsor-body div:nth-child(11) {
  border-right: 1px solid rgb(192, 189, 189);
}

.sponsors .sponsor-body div img {
  width: 100%;
  height: auto;
}

.about-us {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  color: #5a5f66;
}

.about-us h3 {
  padding: 20px 0px;
  font-weight: bolder;
}

.about-us p {
  font-size: 14px;
  word-spacing: 3px;
  line-height: 25px;
}

.footer {
  background-color: black;
  color: #fff;
}

.sub-footer {
  padding: 8px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  border-radius: 50%;
  background-color: #fff;
  color: black;
  padding: 5px;
  width: 15px;
  height: 15px;
  margin-left: 5px;
}

.sub-footer {
  background-color: rgb(19, 18, 18);
}

.content-social {
  display: flex;
  align-items: center;
  padding: 8px 0px;
  cursor: pointer;
}

.sub-footer .footer-content {
  margin-left: 5px;
}

.footer-content {
  padding: 8px 0px;
  color: #b5b5b5;
  cursor: pointer;
}

.content-social h4 {
  font-size: 14px;
  padding: 0px 10px 8px 10px;
  color: #b5b5b5;
}

.sub-footer .footer-content p {
  font-size: 14px;
  padding: 8px 0px;
}

.sub-footer .footer-content h4 {
  font-size: 14px;
}

.sub-footer .footer-content h4:hover {
  color: #fff;
}

.sub-footer .footer-content p:hover {
  color: #fff;
}

.content-details a {
  text-decoration: none;
  font-size: 14px;
  padding: 8px 10px;
  color: #b5b5b5;
}

.content-details h4:hover {
  color: #fff;
}

.content-details a:hover {
  color: #fff;
}

.footer-form {
  display: flex;
  width: 200px;
  padding: 0px 4px;
}

.footer-form .footer-input {
  margin: 0px;
  border: none;
  padding: 18px 4px;
  width: 60%;
  outline: none;
  border-radius: 8px 0px 0px 8px;
}

.footer-form .footer-button {
  width: 40%;
  border: none;
  border-radius: 0px 8px 8px 0px;
  background-color: #ed017f;
  color: #fff;
  font-weight: bolder;
}

.main-footer {
  padding: 0px 25px;
  display: flex;
  justify-content: space-between;
}

.footer-header {
  color: #b5b5b5;
  font-size: 14px;
  cursor: pointer;
  padding: 20px 0px;
}

.footer-container:hover .footer-header {
  color: #fff;
}

.container-link a {
  display: block;
  text-decoration: none;
  color: #b5b5b5;
  font-size: 14px;
  font-weight: lighter;
  line-height: 25px;
}

.container-link a:hover {
  color: #fff;
}

.konga-social {
  padding: 18px 0px;
}

.social-app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0px;
}

.app-linking {
  text-decoration: none;
  color: #b5b5b5;
  width: 110px;
  border: 1px solid #b5b5b5;
  border-radius: 8px;
  padding: 4px;
}

.apps-download {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.app-download p {
  font-size: 12px;
}

.app-download h6 {
  font-size: 12px;
}

.konga-media {
  display: flex;
  padding: 20px 0px;
}

.konga-media a {
  text-decoration: none;
  color: #fff;
  background-color: rgb(51, 50, 50);
  border-radius: 50%;
  padding: 10px;
  margin-right: 18px;
}

.footer-address {
  display: flex;
  align-items: center;
  padding: 40px 25px;
}

.footer-address div {
  width: 33.33%;
  text-align: center;
  color: #b5b5b5;
}

.footer-line {
  color: white;
  border: 1px solid #b5b5b5;
  height: 2px;
  vertical-align: middle;
  width: 50%;
}

@media (max-width: 120px) {
  .heading-sub-main {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0px 10px 10px 10px;
  }

  .headings {
    display: block;
    width: 100%;
    height: 60px;
    padding: 0px 0px;
  }

  .headings img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .heading-sub-link {
    display: none;
  }

  .heading-main {
    display: none;
  }

  .heading-sub-main {
    display: none;
  }

  .heading-phone-menu {
    padding: 8px 4px;
    display: block;
  }

  .phone-top-menu {
    padding: 4px 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .phone-top-menu .phone-top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .phone-top-menu div:first-child {
    margin: 0px 12px 0px 0px;
  }

  .phone-top-search {
    padding: 5px 6px;
  }

  .phone-top-search form input {
    width: 100%;
    padding: 14px 8px;
    border-radius: 4px;
    background-color: rgb(231, 228, 228);
    color: grey;
    border: none;
    outline: none;
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: right;
    background-position-x: 710px;
  }

  .phone-menu-set3 {
    display: flex;
    color: grey;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px 6px;
  }

  .phone-menu-set3 .phone-menu-bottom h3 {
    font-size: 12px;
  }

  .banner {
    display: block;
    padding: 10px;
    /* height: 70px; */
  }

  .slideshow-container {
    width: 100%;
  }

  .prev,
  .next {
    background-color: rgba(194, 193, 193, 0.8);
    display: block;
  }

  .mySlides img {
    height: 550px;
  }

  .main-banner {
    width: 100%;
  }

  .side-banners {
    width: 49%;
    height: 400px;
    padding: 10px 0px 0px 0px;
  }

  .konga-offers {
    display: none;
  }

  .accessories-header {
    justify-content: space-between;
  }

  .accessories-header h2 {
    font-size: 16px;
  }

  .accessories-header a {
    font-size: 12px;
  }

  .accessories-content {
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .content-main {
    padding: 10px;
    width: 200px;
    text-align: center;
    height: 300px;
    display: block;
  }

  .commission {
    display: none;
  }

  .rating {
    display: none;
  }

  .content-main a {
    font-size: 14px;
    text-align: left;
  }

  .content-main a h2 {
    font-size: 18px;
  }

  .items-body {
    overflow: auto;
  }

  .konga-item-poster {
    padding: 5px;
  }

  .konga-item-poster img {
    height: 90px;
  }

  .sales-poster {
    display: none;
  }

  .product-header h2 {
    font-size: 16px;
  }

  .product-body div img {
    width: 170px;
    height: 150px;
  }

  .product-body div a h2 {
    font-size: 18px;
  }

  .product-body div a p {
    font-size: 14px;
  }

  .konga-deals {
    overflow-x: auto;
  }

  .dealing {
    width: 310px;
  }

  .sponsors .sponsor-body div {
    height: 80px;
  }
  .about-us {
    display: none;
  }

  .sub-footer {
    display: block;
  }

  .icon {
    padding: 10px;
    width: 25px;
    height: 25px;
  }

  .footer-form {
    width: 100%;
  }

  .footer-address {
    display: block;
    text-align: center;
  }

  .footer-address div {
    width: 100%;
    text-align: center;
  }

  .footer-line {
    display: none;
  }

  .main-footer {
    display: none;
  }
}

@media (max-width: 1024px) {
  .mySlides img {
    height: 350px;
  }

  .side-banners {
    width: 49%;
    height: 340px;
    padding: 10px 0px 0px 0px;
  }
}

@media (max-width: 414px) {
  .container {
    padding: 0px 10px 10px 10px;
  }

  .headings {
    display: block;
    width: 100%;
    height: 50px;
    padding: 0px 0px;
  }

  .headings img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .heading-sub-link {
    display: none;
  }

  .heading-main {
    display: none;
  }

  .heading-sub-main {
    display: none;
  }

  .heading-phone-menu {
    padding: 8px 4px;
    display: block;
  }

  .phone-top-menu {
    padding: 4px 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .phone-top-menu .phone-top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .phone-top-menu div:first-child {
    margin: 0px 12px 0px 0px;
  }

  .phone-top-search {
    padding: 5px 6px;
  }

  .phone-top-search form input {
    width: 100%;
    padding: 14px 8px;
    border-radius: 4px;
    background-color: rgb(231, 228, 228);
    color: grey;
    border: none;
    outline: none;
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: right;
    background-position-x: 360px;
  }

  .phone-menu-set3 {
    display: flex;
    color: grey;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px 6px;
  }

  .phone-menu-set3 .phone-menu-bottom h3 {
    font-size: 12px;
  }

  .banner {
    display: block;
    padding: 10px;
  }

  .slideshow-container {
    width: 100%;
  }

  .prev,
  .next {
    background-color: rgba(194, 193, 193, 0.8);
    display: block;
  }

  .mySlides img {
    height: 200px;
  }

  .main-banner {
    width: 100%;
  }

  .side-banners {
    width: 49%;
    height: 210px;
    padding: 10px 0px 0px 0px;
  }

  .konga-offers {
    display: none;
  }

  .accessories-header {
    justify-content: space-between;
  }

  .accessories-header h2 {
    font-size: 16px;
  }

  .accessories-header a {
    font-size: 12px;
  }

  .accessories-content {
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .content-main {
    padding: 10px;
    width: 200px;
    text-align: center;
    height: 300px;
    display: block;
  }

  .commission {
    display: none;
  }

  .rating {
    display: none;
  }

  .content-main a {
    font-size: 14px;
    text-align: left;
  }

  .content-main a h2 {
    font-size: 18px;
  }

  .items-body {
    overflow: auto;
  }

  .konga-item-poster {
    padding: 5px;
  }

  .konga-item-poster img {
    height: 90px;
  }

  .sales-poster {
    display: none;
  }

  .product-header h2 {
    font-size: 16px;
  }

  .product-body div img {
    width: 170px;
    height: 150px;
  }

  .product-body div a h2 {
    font-size: 18px;
  }

  .product-body div a p {
    font-size: 14px;
  }

  .konga-deals {
    overflow-x: auto;
  }

  .dealing {
    width: 310px;
  }

  .sponsors .sponsor-body div {
    height: 80px;
  }
  .about-us {
    display: none;
  }

  .sub-footer {
    display: block;
  }

  .icon {
    padding: 10px;
    width: 25px;
    height: 25px;
  }

  .footer-form {
    width: 100%;
  }

  .footer-address {
    display: block;
    text-align: center;
  }

  .footer-address div {
    width: 100%;
    text-align: center;
  }

  .footer-line {
    display: none;
  }

  .main-footer {
    display: none;
  }
}
